/* 

Index

00 - General 
01 - Sections
02 - Header
03 - Profile
04 - Skills
05 - Contact-me
06 - Footer

*/

/* 00 - General */

body {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 0;
    font-family: 'Rochester', cursive;
    font-size: 5.5rem;
    margin-top: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

/* 01 - Sections */

.colored-section {
    background-color: #203239;
    color: #fff;
    padding: 3rem;
}

.white-section {
    background-color: #fff;
    color: #112B3C;
    padding: 5rem;
}

/* 02 - Header */

.header {
    background-color: #141E27;
    padding: 2rem;
    color: #fff;
}

/* 03 - Profile */

.my-picture {
    height: 150px;
}

.intro {
    width: 40%;
    text-align: center;
    margin: auto;
}

/* 04 - Skills */

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.code-image {
    border-radius: 50%;
    height: 150px;
    float: left;
    margin-right: 30px;
}

.network-image {
    border-radius: 50%;
    height: 150px;
    float: right;
    margin-left: 30px;
}

/* 05 - Contact-me */

.contact-me {
    background-color: #fff;
    color: #112B3C;
    padding: 2rem 16rem;
}

.contact-message {
    width: 40%;
    text-align: center;
    margin: 30px auto 60px;
}

.my-work {
    margin: 2rem;
}

/* 06 - Footer */

#footer {
    background-color: #141E27;
    padding: 2rem;
    color: #fff;
}

.social-icon {
    padding: 0 1rem 1rem;
    color: #fff;
}

.social-icon:hover {
    color: #40514E;
}
